:root {
  --lightgrey: hsl(0, 0%, 55%);
  --lightgreyhover: hsl(0, 0%, 45%);
  --whitesmoke: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

#content {
  background: linear-gradient(to right, #ffa500, #008080, #add8e6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 11px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 13fr 1fr;
}

/* FIRST COLUMN STYLING */

.first-column-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--whitesmoke);
  padding: 2.2rem 1.2rem 0.4rem;
}

.fa-solid,
.fa-regular {
  width: 18px;
  height: 18px;
}

.list-title {
  display: flex;
  gap: 0.4rem;
  padding: 0.25rem 0;
  cursor: pointer;
}

.list-title p {
  font-size: 0.9rem;
}

.first-column-list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--lightgrey);
  background-color: var(--whitesmoke);
}

.first-column-list-footer .fa-solid,
.new-list-footer .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0.2rem 1.2rem;
}

.first-column-list-footer .fa-solid:hover,
.new-list-footer .fa-solid:hover {
  color: var(--lightgreyhover);
}

.new-list-footer {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

/* SECOND COLUMN STYLING */

.second-column-body {
  background-color: #fff;
  padding: 1.2rem;
  width: 100%;
}

.current-list-title {
  display: flex;
  padding: 0.8rem 1rem;
  gap: 1rem;
  align-items: center;
}

.current-list-title .fa-solid {
  padding-top: 0.4rem;
}

.current-list-item.active {
  width: 100%;
  height: 80px;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.15s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.current-list-item.inactive {
  width: 100%;
  height: 80px;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-15px);
}

.current-list-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.list-todo-checkbox {
  display: flex;
  width: 100%;
  gap: 0.6rem;
  margin-bottom: 0.4rem;
}

.list-item {
  border: none;
  flex: 1;
}

.list-item:focus,
.list-description:focus {
  outline: none;
}

.list-todo-description-box {
  display: flex;
  width: 100%;
}

.list-description {
  display: block;
  border: none;
  margin-left: 1.4rem;
  flex: 1;
}

.list-item,
.list-description {
  font-size: 0.9rem;
}

/* SECOND COLUMN FOOTER */

.second-column-list-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9rem;

  color: var(--lightgrey);
}

.second-column-list-footer .fa-regular,
.second-column-list-footer .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.second-column-list-footer .fa-regular:hover,
.second-column-list-footer .fa-solid:hover {
  color: var(--lightgreyhover);
}
